<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <title>{% block title %}{% endblock %}AFMS Plus</title>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnZzTS4uepBIQP3cQfCnfYhDfGKTeH4T8&libraries=maps,marker"></script>
    {% endblock %}
</head>

<body>
    <div id="header">
        <header>
            <center><h1 class="block py-2 pr-4 pl-3">Autonomous Fleet Management System</h1></center>
        </header>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %} {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>