{% extends "menu.html" %}


{% block content %}


{% block menu_block %}
{% set menu.active_page = "/" %}
{{ super() }}
{% endblock %}

{% include 'track_vehicle_modal.html' %}

<div class="flex justify-center h-screen">
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right">
            <thead class="text-xs text-gray-700 uppercase">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        VIN / Registartion
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Vehicle
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Make
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Model
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Track</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for key in vehicles.keys() %}
                    {% set vehicle, locations =  vehicles[key].vehicle, vehicles[key].locations %}
                    <tr class="bg-white border-b  hover:bg-gray-50 dark:hover:bg-gray-100">
                    <th scope="row" class="px-6 py-4 font-medium">
                        {{vehicle.vehicleRegistrationId}}
                    </th>
                    <td class="px-6 py-4">
                        {{vehicle.name}}
                    </td>
                    <td class="px-6 py-4">
                         {{vehicle.make}}
                    </td>
                    <td class="px-6 py-4">
                        {{vehicle.model}}
                    </td>
                    <td class="px-6 py-4 text-right">
                        <button onclick='set_track_modal_heading(vehicle_name= "{{vehicle.name}}", vehicle_tracking_modal_div_id="vehicle-track-modal"); track_my_vehicle(vehicle = {{ vehicle | tojson | safe }}, locations= {{ locations | tojson | safe }}, div_id="track_my_vehicle_id", vehicle_tracking_id= "{{key}}")' data-modal-target="vehicle-track-modal" data-modal-toggle="vehicle-track-modal"
                            class="block text-white bg-blue-200 hover:bg-blue-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-400"
                            type="button" >
                            Track
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



<script src="{{ url_for('static',filename='js/track_vehicles.js') }}"></script>

{% endblock %}