{% extends "menu.html" %}

{% block content %}

{% block menu_block %}
{% set menu.active_page = "/track_cars" %}
{{ super() }}
{% endblock %}

<div class="flex justify-center h-screen">
    <div id="track_map_id" style="width: 800px; height: 500px;">
    </div>
</div>
<script type="text/javascript">
    var locations = [
        ['Current Location', -33.890542, 151.274856, 4],
        ['Home / Parked Location', -33.923036, 151.259052, 5],
        ['Location Two', 41.914873, 12.506486, 2],
        ['Location Three', 61.918574, 12.507201, 6],
        ['SFO Airport', 37.615223, -122.389977, 3],
        ['São Paulo', -23.533773, -46.625290, 1],
        ['Tokyo', 35.652832, 139.839478, 7],
        ['Greenwich', 51.477928, -0.001545, 8],
        ['Johannesburg, South Africa', -26.195246, 28.034088, 9]
    ];
    var map = new google.maps.Map(document.getElementById('track_map_id'), {
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var infowindow = new google.maps.InfoWindow();
    var bounds = new google.maps.LatLngBounds();
    var marker, i;
    for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
        });

        bounds.extend(marker.position);

        google.maps.event.addListener(marker, 'click', (function (marker, i) {
            return function () {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
            }
        })(marker, i));
    }
    map.fitBounds(bounds);
</script>
</div>
{% endblock %}