/*body*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}
/*sidebar*/
.sidebar {
    width: 250px;
    background: #2c3e50;
    color: white;
    padding: 20px;
    box-shadow: 5px 0 8px rgba(0,0,0,0.2);
}
.sidebar h2 {
    text-align: center;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    padding: 10px;
    margin: 15px 0;
    cursor: pointer;
}
.sidebar ul li.active, .sidebar ul li:hover {
    background: #1abc9c;
}
/*Main*/
.main-content {
    flex: 1;
    padding: 20px;
    background: #ecf0f1;
}
header {
    background: white;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}
/*Cards*/
.cards {
    display: flex;
    gap: 20px;
}
.card {
    flex: 1;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.card p {
    font-size: 22px;
    margin: 10px 0 0;
}
/*card clr*/
.blue { background: #3498db; }
.green { background: #27ae60; }
.yellow { background: #f1c40f; }
.red { background: #e74c3c; }
/*map*/
.map-container {
    text-align: center;
}
.map-container img {
    padding-top: 15px;
    max-width: 620px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}